/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
/ext/Makefile
/ext/essentia_wrap.c
/ext/essentia_wrap.cxx
/ext/essentia/src/essentia/config.h
.DS_Store
*~
